body {
  font:
    11pt/13pt "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h4 {
  font-weight: 300;
}

h1 small {
  font-weight: 400;
  font-size: 9pt;
}

.sticky-header {
  position: -webkit-sticky; /* ;_; still needed for mobile */
  position: sticky;
  top: 0;
  padding: 1em;
  margin: 0 -0.5em;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0), white 15px);
  z-index: 100;
  display: block;
  width: 100%;

  @media (max-width: 480px) {
    margin: 0 -5vw;
    padding: 5vw;
  }
}

.sticky-header h2 {
  margin: 0;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.thin-line {
  stroke-width: 0.5px;
}

.name,
.small-name,
.start-label,
.end-label {
  font-size: 10pt;
  text-transform: lowercase;
  font-variant: small-caps;
}

.small-name,
.count-label {
  font-size: 8pt;
}

.count-label {
  text-anchor: middle;
}

.start-label {
  dominant-baseline: middle;
  text-anchor: end;
}

.end-label {
  dominant-baseline: middle;
  text-anchor: start;
}

.circle-center-label {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 7pt;
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.axis-angle text {
  transform: rotate(15deg);
  text-anchor: start;
}

article {
  width: 520px;
  padding: 10px;
  margin: 0 auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-x-padding {
  left: -10px;
  position: relative;
  width: 540px; /* 520px + (2 * 10px) */

  h2,
  h3,
  h4 {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  article {
    width: 90vw;
    padding: 0 5vw;
  }

  .overflow-x-padding {
    left: -5vw;
    width: 100vw;
  }

  .overflow-x-padding > svg {
    padding-right: 5vw;
  }
}

.width-100p {
  width: 100%;
}

.width-min100p {
  min-width: 100%;
}

table {
  padding: 0;
  margin-right: 10px;
  border-spacing: 0;
}

table th {
  font-weight: 500;
}

.light-header {
  font-weight: 300;
  font-size: 10pt;
}

.tiny-header {
  font-weight: 300;
  font-size: 8pt;
  padding-left: 0.75em;
}

table thead tr:last-child th {
  border-bottom: 1px solid black;
}

table tbody th {
  font-weight: normal;
}

table th,
table td {
  text-align: right;
}

table.align-top td,
table.align-top th {
  vertical-align: top;
}

.text-right {
  text-align: right !important;
}

table th:first-child,
table td:first-child {
  text-align: left;
}

.td--small-caps-pre {
  white-space: pre;
  text-transform: lowercase;
  font-variant: small-caps;
}

table td {
  padding: 5px 0;
}

.table-row--inner-border-top {
  td,
  th {
    border-top: 1px solid #ccc;
  }

  &:first-child {
    td,
    th {
      border-top: none;
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.currency-legend {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.currency-legend-heading {
  margin: 0.25rem 0;
  padding-left: 16px;
}

.currency-legend li {
  padding-left: 3px;
  font-size: 9pt;
}

.clearfix {
  clear: both;
  padding-top: 20px;
}

.year-selector {
  font-size: 12pt;
  padding: 0;
  margin: 10px 0;
}

.year-selector a {
  padding: 0 0.25em;
  display: inline-block;
}

.year-selector a:first-of-type {
  margin-left: -5px;
}

.year-selector a:link,
.year-selector a:visited {
  color: steelblue;
  text-decoration: none;
}

.year-selector a.active {
  font-weight: bold;
  text-decoration: underline;
}

.division-selector {
  border: none;
  padding: 0;
  margin: 10px 0;
}

.division-selector > legend {
  float: left;
  font-weight: bolder;
  padding: 0;
}

.division-selector > label {
  padding-left: 5px;
}

.flex-grid {
  display: flex;
  flex-direction: row;
}

.flex-grid-item {
  flex: flex-grow;
  flex-grow: 1;
}

.margin-after-none {
  margin-bottom: 0;
}

.visible--wide {
  display: inline;

  @media (max-width: 480px) {
    display: none;
  }
}

.visible--narrow {
  display: none;

  @media (max-width: 480px) {
    display: inline;
  }
}
